networks:
  # 逻辑名称
  backend-dev:
    driver: bridge
    # 物理名称
    name: backend-dev

services:
  mysql:
    # 如果设置了 MYSQL_DISABLED=true，则添加 disabled profile
    profiles:
      - ${MYSQL_DISABLED:+disabled}
    # https://hub.docker.com/_/mysql
    #image: mysql:5.7.44
    image: mysql:8.0.44
    container_name: mysql
    ports:
      - 3306:3306
      # 为了确认 my.cnf 自定义配置文件是否生效，可以将 mysql 的默认端口改掉试试
      #- 3366:3366
    environment:
      TZ: Asia/Shanghai
      # root 用户密码
      MYSQL_ROOT_PASSWORD: ddXRaM5jr0BjjD6FCgeOMDcvNyzo0CBG
    volumes:
      # 数据文件映射 宿主机:容器
      - ./MySQL/conf:/etc/mysql/conf.d
      - ./MySQL/data:/var/lib/mysql
      - ./MySQL/log:/var/log/mysql
      - ./MySQL/init:/docker-entrypoint-initdb.d
      # 让容器的时钟与宿主机时钟同步，避免时间的问题（ro = read only）
      - /etc/localtime:/etc/localtime:ro
    # 自动尝试重启容器
    restart: always
    #restart: on-failure:3
    networks:
      - backend-dev

  redis:
    profiles:
      - ${REDIS_DISABLED:+disabled}
    # 镜像及版本
    image: redis:7.4.7
    #image: redis:8.2.1
    # 自定义容器名
    container_name: redis
    ports:
     # 宿主机端口:容器端口
     - 6379:6379
    # 挂载映射，可以让数据或配置持久化
    volumes:
      # 让容器的时钟与宿主机时钟同步，避免时间的问题，ro是read only的意思，就是只读。
      - /etc/localtime:/etc/localtime:ro
      - ./Redis/conf:/usr/local/etc/redis
      - ./Redis/data:/data
      - ./Redis/log:/var/log/redis

    # docker执行的启动命令
    # command: /usr/local/bin/redis-server /root/redis-docker/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
    # 自动尝试重启容器
    restart: always
    # restart: on-failure:3
    networks:
      - backend-dev

  elasticsearch:
    profiles:
        - ${ELASTICSEARCH_DISABLED:+disabled}
    # https://hub.docker.com/_/elasticsearch
    image: elasticsearch:8.17.0
    container_name: elasticsearch
    ports:
      - 9200:9200
      - 9300:9300
      # 为了确认自定义配置文件是否生效，可以将修改默认端口试一下
      #- 39200:39200
    environment:
      - http.port=9200 # HTTP端口
      - transport.port=9300 # 服务发现端口
      - ELASTIC_USERNAME=elastic # 用户名
      - ELASTIC_PASSWORD=123456 # 密码
      - path.data=/usr/share/elasticsearch/data # 数据文件存储目录
      - path.logs=/usr/share/elasticsearch/log # 日志文件存储目录

      #- node.name=es01 # 节点名称
      #- cluster.name=es-docker-cluster # 集群名称
      #- discovery.seed_hosts=es02,es03
      #- cluster.initial_master_nodes=es01,es02,es03

      # 单节点模式：避免寻找集群主节点，启动快
      - discovery.type=single-node
      # 内存限制：ES 非常吃内存，开发环境限制为 1GB 堆内存，防止撑爆机器
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
      # 锁定内存，避免内存被操作系统 swap（交换）到磁盘, 保证性能和稳定性
      - bootstrap.memory_lock=true

      # 关闭 Security：开发环境为了方便调试，关闭 SSL 和 密码验证
      # 生产环境绝对严禁设置为 false！
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false

    # 允许这个容器里的进程锁定无限量的内存，不受操作系统的默认限制约束。
    ulimits:
      memlock:
        soft: -1
        hard: -1

    volumes:
      # 数据文件映射 宿主机:容器
      #- ./Elasticsearch/conf:/usr/share/elasticsearch/config
      - ./Elasticsearch/data:/usr/share/elasticsearch/data
      - ./Elasticsearch/log:/usr/share/elasticsearch/log
      - ./Elasticsearch/plugins:/usr/share/elasticsearch/plugins
      # 让容器的时钟与宿主机时钟同步，避免时间的问题，ro是read only的意思，就是只读。
      - /etc/localtime:/etc/localtime:ro
    # 自动尝试重启容器
    restart: always
    # restart: on-failure:3
    networks:
      - backend-dev
  kibana:
    # https://hub.docker.com/_/kibana
    image: kibana:8.17.0
    container_name: kibana
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      # 可选：尝试开启 Kibana 中文汉化
      - I18N_LOCALE=zh-CN
    depends_on:
      - elasticsearch
    networks:
      - backend-dev

  prometheus:
    profiles:
      - ${PROMETHEUS_DISABLED:+disabled}
    # https://hub.docker.com/r/prom/prometheus
    #image: prom/prometheus:v3.0.1
    image: prom/prometheus:v3.9.0
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      # 配置文件映射
      - ./Prometheus/conf:/etc/prometheus
      # 数据文件映射
      - ./Prometheus/data:/prometheus
      # 日志文件映射
      - ./Prometheus/log:/prometheus/log
      # 让容器的时钟与宿主机时钟同步，避免时间的问题（ro = read only）
      - /etc/localtime:/etc/localtime:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      # 开启后可通过 curl -X POST http://127.0.0.1:9090/-/reload 触发配置重载
      - '--web.enable-lifecycle'
      # 保留时间默认为 15d, 支持的单位：y、w、d、h、m、s、ms
      - '--storage.tsdb.retention.time=1m'
      # 保留数据时长 默认为0或禁用, 支持的单位：B、KB、MB、GB、TB、PB、EB
      - '--storage.tsdb.retention.size=1GB'
    # 自动尝试重启容器
    restart: always
    networks:
      - backend-dev

  grafana:
    profiles:
      - ${GRAFANA_DISABLED:+disabled}
    # https://hub.docker.com/r/grafana/grafana
    image: grafana/grafana:11.4.0
    container_name: grafana
    ports:
      - 3000:3000
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: grafana9527
    volumes:
      # 数据文件映射
      - ./Grafana/data:/var/lib/grafana
      # 日志文件映射
      - ./Grafana/log:/var/log/grafana
      # 让容器的时钟与宿主机时钟同步，避免时间的问题（ro = read only）
      - /etc/localtime:/etc/localtime:ro
    # 自动尝试重启容器
    restart: always
    networks:
      - backend-dev
